<!--<link rel="stylesheet" type="text/css" href="../public/css/style.css">-->


<style>
    .selectdd {
    display: block;
    margin-top: 20px;
}
</style>

<input onchange='importFile(event)' type="file" id="files" name="files[]" multiple>
<!--<form action='/import' method='post' enctype='multipart/form-data'>
<input type="file" name="avatar" value="avatar">
</form>
-->
<!--    <select id="tag-main"></select> -->
<p>Department: </p><select class="selectdd" id="tag-dept"></select>
<p>Subdept: </p>
<div class="sub-dept">
</div>
<form>
    <p>Location: </p><input type="radio" id="locUSA" name="location" value="USA" checked> USA<br>
    <input type="radio" id="locIntl" name="location" value="intl"> Intl<br>
    <select class="selectdd" id="tag-loc" onchange=selectCat1(this.value)>
        {{#each cats}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
    <input class="selectdd" type='button' onclick='searchButton()' value='Search' id='search'>
    <p>Phone number:</p>
    <input type="text" id='showface'>
</form>
<div id="stats"></div>
<div id="name-list" class="names"></div>
<!--
<form ref='uploadForm' id='uploadForm' action='http://localhost:3000/contacts/import' method='post' encType="multipart/form-data">
    <input type="file" name="test.csv" />
    <input type='submit' value='Upload!' />
</form>
-->

<script>
    function selectCat1 (sValue) {
        // if there is more than one subcat for this, put up a select
        console.log ("selectCat1", sValue);
        var opts = {
            method: 'POST',
            body: JSON.stringify(sValue),
            headers: {
                'Content-Type': 'application/json'
            }
        };
        fetch('/contacts/select1', opts).then(function (response) {
            location.reload(); // essential to refresh the page
        });

    }
    function searchButton() {
        console.log('SearchButton');
        const buttonInput = {};
        buttonInput.sDept = $('#tag-dept').val();
        buttonInput.boxes = $('input[name=cbox]:checked');
        buttonInput.string = document.getElementById('input-button').value;
        var opts = {
            method: 'POST',
            body: JSON.stringify(buttonInput),
            headers: {
                'Content-Type': 'application/json'
            }
        };
        fetch('/contacts/search', opts).then(function (response) {
            location.reload(); // essential to refresh the page
        });
    }

    const importFile = (event) => {
        console.log('iF');
        console.log(event);
        upload(event.target.files[0]);
    };

    const upload = (file) => {
        console.log('upload: ', file);
        var formData = new FormData();

        formData.append('avatar', file);
        formData.append('username', 'abc123');

        fetch('contacts/import', {
            method: 'PUT',
            body: formData
        })
            .then(response => response.json())
            .catch(error => console.error('Error:', error))
            .then(response => console.log('Success:', JSON.stringify(response)));

    };



</script>