<!--<link rel="stylesheet" type="text/css" href="../public/css/style.css">-->
<style>
    .selectdd {
    display: block;
    margin-top: 20px;
}
</style>

<input onchange='importFile(event)' type="file" id="files" name="files[]" multiple>
<!--<form action='/import' method='post' enctype='multipart/form-data'>
<input type="file" name="avatar" value="avatar">
</form>
-->
<!--    <select id="tag-main"></select> -->
<p>Department: </p><select class="selectdd" id="tag-dept"></select>
<p>Subdept: </p>
<div class="sub-dept">
</div>
<form>
    <p>Location: </p><input type="radio" id="locUSA" name="location" value="USA" checked> USA<br>
    <input type="radio" id="locIntl" name="location" value="intl"> Intl<br>
    <select class="selectdd" id="tag-loc" onchange=selectCat1(this.value)>
        {{#each cats}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
    <input class="selectdd" type='button' onclick='searchButton()' value='Search' id='search'>
    <p>Phone number:</p>
    <input type="text" id='showface'>
</form>
<div id="stats"></div>
<div id="name-list" class="names"></div>
<!--
<form ref='uploadForm' id='uploadForm' action='http://localhost:3000/contacts/import' method='post' encType="multipart/form-data">
    <input type="file" name="test.csv" />
    <input type='submit' value='Upload!' />
</form>
-->
